# LaTeX compiled files
*.out
*.aux
*.log
*.bbl
*.blg
*.ref
*.dvi
*.synctex.gz
*.spl
*.tui
*.tuo
*.tmp
*.brf
*.ptd
*~
*.toc
*.lof
*.nlo
*.blo
*.ent
*.glo
*.idx
*.xdy
*.lof
*.toc
*.gls
*.glg
*.alg
*.acr
*.acn
*.glsdefs
*.ist
*.bls
*.ind


# custom
_main.pdf
